*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
  color: yellow;
}
.app{
  display: grid;
  grid-template-areas: 
    "cabecalho"
    "conteudo-principal"
    "cardapio-geral"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 55% 45% 50px;

}
header{
    background: gray;
}
/* Hamburger menu styles */
.menu-icon {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
  }
  
  
  
  /* Menu styles */
  .menu {
   display: flex;
   display: flex;
   justify-content: space-around;

    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu:hover{
    display: inline-block;
  }
  
  .menu li {
    
    text-align: center;
    margin: 10px 0;
  }
  
  .menu li a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  /*carrosel*/

  .swiper {
    width: 800px;
    height: 300px;
  }
 
  .img-burguer{
    width: 400px;
    height: 300px;
  }

  main{
    padding: 3vh;
    background-color: rgba(226, 226, 37, 0.514);
  }

  .localizacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    padding: 3vh;
  }

  .localizacao-title{
    color: #fff;
  }
  .mapa{
    padding: 2vh;
  }

  #btn-delivery{
    display: flex;
    align-items: center;
    justify-content: center;
    width:40vh ;
    padding: 3vh;
  }
  
  /* Media query for responsive design */
  @media only screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
    .menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .menu li {
      margin: 0;
    }
    .menu li a {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    .menu.show {
      display: block;
    }
  }